header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
li{
    list-style: none;
}